<section class="about">
 <h2 id="about-me">Scope of the Special Issue</h2>
 <hr class="bar" />

 <div class="simple-text-box">
  <div class="simple-text-box-left">Description:</div>
  <div class="simple-text-box-right">
   <p>
In recent years, the heterogeneity and variability of Internet applications - whether in the multimedial or interactive environment - has increased significantly. Nowadays, video streaming is responsible for a large portion of all bandwidth on the Internet, and Internet telephony and video conferencing systems have become part of our daily life. At the same time, the Internet of Things strives for the first place in terms of the number of devices, and smartphones and tablets contribute to the ever-growing demands on the networks. Furthermore, the proliferation of all types of media portals also increases the acceptance and development of video games, upcoming virtual reality applications, 360° video and much more. 
   </p>
  <p>
On the technical side, this leads to new paths in the direction of analytics, big data, and automated machine learning techniques. Anyone who wants to make data evaluations in the direction of Quality of Experience nowadays touches at least one of these topics since the endless mass of data, resulting from the cheap and almost unlimited data storage, must be processed and evaluated. In the era of big data and dynamic networks, Quality of Experience is still looking for its place, and solutions are highly required.
  </p>
  <p>
This Special Issue addresses the latest advances and challenges in analysis, design, modelling, measurement, and performance evaluation of Quality of Experience and Quality of Experience-oriented metrics.
  </p>
  </div>
 </div>

 <div class="simple-text-caption">
  <p>
   Submission link: <a href="http://mc.manuscriptcentral.com/nem">http://mc.manuscriptcentral.com/nem</a></br> 
Submission Deadline: December 15, 2017</br>
Notification of Acceptance: February 28, 2018 </br>
Final Version: May 31, 2018 </br>
Publication: August, 2018 </br>
  </p>
 </div>

 
 
 
 
 <div class="about-lock">

 <div class="skill-lock"></div>
</section>
