<section class="about">
 <h2 id="about-me">Scope of the Special Issue</h2>
 <hr class="bar" />

 <div class="simple-text-box">
  <div class="simple-text-box-left">Description:</div>
  <div class="simple-text-box-right">
   <p>
	In recent years, the heterogeneity and variability of Internet applications – both in multimedial as well as in interactive environments - has increased significantly. Nowadays, video streaming is responsible for a large portion of all traffic in the Internet, and Internet telephony and video conferencing systems have become part of our daily life. At the same time, the Internet of Things strives to surpass any previous expectations towards the number of devices, and smartphones and tablets contribute to the ever-growing demands on the networks. Furthermore, the proliferation of all types of media hubs also increases the acceptance and development of video games, upcoming virtual reality applications, 360° video and much more. 
   </p>
  <p>
	On the technical side, this leads to new paths in the direction of analytics, big data, and automated machine learning techniques. Today, partaking in data evaluations in the direction of <b>Quality of Experience</b> touches at least one of these topics, since the endless mass of data, resulting from the cheap and almost unlimited data storage, must be processed and evaluated. In the era of big data and dynamic networks, <b>Quality of Experience</b> is still looking for its place, and good solutions are in high demand.  
  </p>
  <p>
	This Special Issue addresses the latest advances and challenges in analysis, design, modeling, measurement, and performance evaluation of Quality of Experience and Quality of Experience-oriented metrics.  
  </p>
  </div>
 </div>

 <div class="simple-text-caption">
  <p>
   Submission link: <a href="http://mc.manuscriptcentral.com/nem">http://mc.manuscriptcentral.com/nem</a></br> 
Submission Deadline: July 15, 2018 <i>(hard deadline)</i></br>
<!--Notification of Acceptance: February 28, 2018 </br>
Final Version: May 31, 2018 </br>-->
Publication: August, 2018 </br>
  </p>
 </div>

 
 
 
 
 <div class="about-lock">

 <div class="skill-lock"></div>
</section>
