<section id="committee" class="committee">
    <h2>Journal Committee</h2>
    <hr class="bar" />
    <div class="about-lock">
    </div>
    <div class="simple-text">
        <div class="i-center">
           Guest Editors
        </div>
        <ul>
            <li>Florian Wamser, University of Würzburg, Germany, <a href="mailto:florian.wamser@informatik.uni-wuerzburg.de">florian.wamser@informatik.uni-wuerzburg.de</a></li>
            <li>Özgü Alay, Simula Research Laboratory, Norway, <a href="mailto:ozgu@simula.no">ozgu@simula.no</a></li>
            <li>Florian Metzger, University of Duisburg-Essen, Germany, <a href="mailto:florian.metzger@uni-due.de">florian.metzger@uni-due.de</a></li>
            <li>Stefan Valentin, Huawei Mathematical and Algorithmic Sciences Lab Paris, France, <a href="mailto:stefan.valentin@huawei.com">stefan.valentin@huawei.com</a></li>
        </ul>

	<div class="center">
		More information about the journal can be found at 	
            <a href="http://onlinelibrary.wiley.com/journal/10.1002/%28ISSN%291099-1190">International Journal of Network Management</a>.<br>
	</div>
</section>
