<section class="submission">
<h2 id="endorsement">Industry Endorsement</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Endorsement:
</div>
<div class="simplex-text-box-right">
<p style="">
<i>We would like to actively support your submissions, and promote industry comments on submissions. Therefore, we offer to obtain a statement from an industrial partner for each accepted submission and publish it at the beginning of the journal. The idea is that we can arouse the interest of the industry for your work. 
Further comments and suggestions are welcome. We would like to promote your submissions!</i>
</p>
</div>
</div>

<div class="skill-lock"></div></section>
