<div id="home">
    <a href="#home" class="back-to-top">Back To Top</a>
    <div id="container1" class="arrow"></div>

    <header id="home">
        <div id="container" class="logo"></div>
        <nav>
            <a href="#about-me">Scope of Special Issue</a>
            <a href="#topics">Topics of Interest</a>
            <a href="#submission">Submission Guidelines</a>
            <a href="#committee">Guest Editors</a>
            <a href="#contact">Contact</a>
            <br/>
            <a href="https://www.dropbox.com/s/zrne02dhv5dpwr7/IJMN%20Special%20Issue-with-header.pdf?dl=1"><img src="assets/img/download.gif"/>CfP</a>
        </nav>

        <h1>
            <span>IJNM Special Issue 2018</span>
            <p class="kicker">QoE-related Analysis and Management of<br> Data Communications Networks</p>
            <p class="kicker-small"><a href="http://onlinelibrary.wiley.com/journal/10.1002/%28ISSN%291099-1190">International Journal of Network Management</a><br>
            <p class="kicker-small"><i>Submission Deadline: December 15, 2017</i></p>
	    <p class="kicker-small" style="padding-top:50px">
        	<a href="http://onlinelibrary.wiley.com/journal/10.1002/%28ISSN%291099-1190"><img class="logo-icon" src="/assets/img/ijnm.jpg"></a></p>
        </h1>

    </header>
</div>
