<section class="about">
<h2 id="opencall">Open Call for Papers</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
We encourage any interested author to submit their fleshed out ideas that fall into our <a href="#topics">topics of interest</a> to this special issue on <b>QoE-centric Analysis and Management of Communications Networks</b>. A <a href="https://www.dropbox.com/s/zrne02dhv5dpwr7/ijnm-qoe-specialissue-cfp.pdf?dl=1"><img src="{{ site.baseurl }}/assets/img/download.gif"/>PDF version</a> of this call for papers is also available.
</div>

<div class="simple-text-caption">
<p>
<b>
	Submissions following the <a href="#submission">submission guidelines</a> are accepted until
	<br/> 
	<i>July 15, 2018 (hard deadline)</i>.
</b>
</p>
</div>



<div class="skill-lock"></div></section>
