<section class="about">
<h2 id="pvcall">Packet Video Workshop Call</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
As a final opportunity we are additionally cooperating with the <b><a href="https://2018.packet.video/">23rd Packet Video Workshop 2018</a> (co-located with ACM MMSys'18)</b>.
Outstanding and topical papers submitted to the workshop will be considered for inclusion in this special issue.</b> Select authors will be explicitly invited to produce an extended version of their work conforming to the <a href="submission">submission guidelines</a>.
</div>

<div class="skill-lock"></div></section>
