<section class="about">
<h2 id="qoemgmtcall">QoE Management Workshop Call</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
In addition to the Open Call we are also cooperating with the

	<b><a href="https://www.qomex2018.org/call-for-papers/qoe-management-workshop/">Second International Workshop on Quality of Experience Management</a> (co-located with QoMEX 2018)</b>.


<b>Outstanding and topical papers submitted to the workshop will be considered for inclusion in this special issue.</b> Select authors will be explicitly invited to produce an extended version of their work conforming to the <a href="submission">submission guidelines</a>.
</div>


<div class="skill-lock"></div></section>
