<section class="submission">
<h2 id="submission">Submission Guidelines</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Submissions:
</div>
<div class="simplex-text-box-right">
<p>
Authors should submit their papers in PDF format only to <a href="http://mc.manuscriptcentral.com/nem">ScholarOne Manuscripts</a>. Paper submissions should not exceed 20 pages. Both <a href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1099-1190/homepage/ForAuthors.html">author instructions</a> and the respective <a href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1099-1190/homepage/latex_class_file.htm">LaTeX template</a> are available online. All submissions will be peer-reviewed. In case of acceptance, the final and camera-ready version has to take into account comments of reviewers and needs to follow the template's requirements.
</p>
<p>
Submissions will be judged based on their originality, novelty, and quality. Submissions must not substantially overlap with papers that have been previously published or are currently submitted for publication. The submission must be clearly written and in excellent English.
 </p>
 <p>
 All received submissions within the scope of the issue will be sent out for peer review by three experts in the field and will be evaluated with respect to the relevance to this special issue, level of innovation, depth of contribution, and quality of presentation. 
</p>
</div>
</div>

<div class="skill-lock"></div></section>
