<section class="topics">
<h2 id="topics">Topics of Interest</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<p>
Authors  are  invited to  submit  an article  that  falls  in  the  area  of QoE-centric analysis and management of communications networks. Topics of interest include, but are not limited to, the following:
</p>
<ul>
<li>QoE-aware and QoE-oriented networking </li>
<li>Relationship between QoS, Perceptual Quality and QoE  </li>
<li>QoS/QoE mapping, metrics and measurements in the large-scale </li>
<li>Internet measurements related to network and application quality/performance </li>
<li>SDN for QoE-based network management </li>
<li>Performance and quality characterization from Internet measurements </li>
<li>Quality metrics for smartphones & mobile networks </li>
<li>QoE-based traffic monitoring and troubleshooting </li>
<li>Novel algorithms to improve Internet quality </li>
<li>QoE-based network management and analysis </li>
<li>Application of performance models and metrics to network and traffic analysis </li>
<li>Tools and techniques to gather QoS/QoE-related Internet measurements </li>
<li>Field trials shedding light on QoE/QoS aspects  </li>
<li>Qualitative measurements for Internet traffic analysis  </li>
<li>QoE-oriented analysis of CDNs and Cloud networks </li>
<li>Network simulation for QoS/QoE analysis </li>
<li>Novel approaches for large-scale crowd-sourcing with respect to network / service performance </li>
<li>Cross-layer optimization </li>
<li>Network QoS and QoE modeling </li>
<li>Integration of QoS and QoE models </li>
<li>Standardization issues </li>
<li>QoE Monitoring </li>
<li>Interactive Applications and quality </li>
<li>Novel applications and fields of use for QoE </li>
</ul>
</div>

<div class="simple-text-caption">
<p>
<b>
Authors are invited to submit articles, which fall within the areas mentioned above or are related to them.
</b>
</p>
</div>

<div class="skill-lock"></div></section>
